/*
* @Author: Administrator
* @Date:   2018-09-13 08:50:19
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-13 13:47:08
*/
html, body, section, section>div {
	width: 100%;
	height: 100%;
}

section {
	position: relative;
}

body {
	overflow: hidden;
}
section>div{
	position: relative;
}
.screen1 {
	background: url('../images/bg01.jpg') no-repeat;
	background-size: 100% 100%;	/* 背景图片设置百分比，参照物当前的容器 */


}
span{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
	background: lime;
	bottom: 20px;
	transition: all 2s;
}
.one span{
	transform: scale(0.1) rotate(360deg)
}
.one p{
	transform: scale(0.1) rotate(360deg);
}
.one span{

}
section p{
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	font-size: 14px;
	top: 100px;
	text-align: center;
	transition: all 2s;
}

.screen2 {
	background: url('../images/bg02.jpg') no-repeat;
	background-size: 100% 100%;	/* 背景图片设置百分比，参照物当前的容器 */
}

.screen3 {
	background: url('../images/bg03.jpg') no-repeat;
	background-size: 100% 100%;	/* 背景图片设置百分比，参照物当前的容器 */
}

.screen4 {
	background: url('../images/bg04.jpg') no-repeat;
	background-size: 100% 100%
}

.screen5 {
	background: url('../images/bg05.jpg') no-repeat;
	background-size: 100% 100%
}

.screen6 {
	background: url('../images/bg06.jpg') no-repeat;
	background-size: 100% 100%;	/* 背景图片设置百分比，参照物当前的容器 */
}

.screen7 {
	background: url('../images/bg07.jpg') no-repeat;
	background-size: 100% 100%;	/* 背景图片设置百分比，参照物当前的容器 */
}

ol {
	position: fixed;
	right: 20px;
	top: 50%;
	margin-top: -107px;
}

ol li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #f60;
	margin-bottom: 10px;
	cursor: pointer
}

ol li.current {
	background: url(../images/side_bg.png) no-repeat;
	background-size: 99%;
	width: 37px;
	height: 37px;
	border: none;
	margin-left: -7px;
	animation: move 2s infinite linear;
}

@keyframes move {
	from {
		transform: rotate(0deg)
	}

	to {
		transform:rotate(360deg)
}